.aider*

# Project-related files

# Run logs
backend/run_logs/*

# Weird Docker setup related files
# commented because of https://github.com/abi/screenshot-to-code/issues/3#issuecomment-1814777959
# backend/backend/*

# Env vars
frontend/.env.local
.env
backend/poetry.lock
backend/backend/run_logs/
backend/backend/.DS_Store
